<div class="index-bkg">
  <div class="index-grid-container">
    <div class="user-navbar">
      <%= render "shared/navbar" %>
    </div>
    <div class="index-content">
      <table>
        <tr>
          <th> </th>
          <th>Title</th>
          <th>Author</th>
          <th></th>
          
        </tr>
        <% @song_texts.each do |song_text| %>
        <!-- TABLE -->
          <tr>
            <td style="background-color: <% if song_text.color_tag != "" %> <%= song_text.color_tag %><% else %> #463F3A <%end%>;">
              
            </td>
            <td class="table-title" id="title-<%= song_text.id %>">
              <p><%= link_to song_text.title, profile_path(song_text.user.id, song: song_text.id ) %></p>
            </td>
            <td>
              
              <p><%= link_to (song_text.user.username if song_text.user.username)  || (song_text.user.email if song_text.user.email), profile_path(song_text.user.id, song: song_text.id ) %></p>
            </td>
            <td class="table-ratings">
              <p>
                <% if song_text.ratable == true %>
                  <%= "⭐" * song_text.rating %>
                <% else %>
                  not ratable
                <% end %>
              </p>
            </td>
        <% end %>
          </tr>
      </table>
      <div class="pag">
        <%= paginate @song_texts %>
      </div>
    </div>
    <div class="index-footer">
    </div>
  </div>
</div>
