<div class="container" style="min-height: 100vh; background-color: #463F3A;">
  <%= link_to 'Back', song_texts_path %>
  <div class="title container" style="background-color: white; border: 5px solid <%= @song_text.color_tag if  @song_text.color_tag != "" %>;">
    <h1><%= @song_text.title %></h1>
    <div class="container">
      <div class="" style="background-color: white; text-align: center;
      white-space: pre-line;">
      by <%= @song_text.user.username %><br>
      email:<%= @song_text.user.email %><br><br>
        <%= @song_text.content %><br>
        <h1>notes</h1>
        <%= @song_text.notes %><br>
      </div>
    </div>
  </div>
  
</div>

