<div class="body-container">
        <%= link_to 'Back', song_texts_path %>
  <div class="content-container container">
    <div class="grid-container">
      <div class="grid-content">
      
        <p>Song Texts from <%= @user.email %> id: <%= @user.id %> </p>
        <% @song_texts.each do |song_text| %>
          <%= link_to "#{song_text.id} #{song_text.title}", song_text %>
          <%= link_to 'Edit', edit_song_text_path(song_text) %>
        <%= link_to 'Destroy', song_text, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        
      </div>
      <div class="grid-content">
        <%= link_to 'Edit', edit_song_text_path(@song_text) %> |
      </div>
      <div class="grid-content">
      
      </div>
    </div>
  </div>
</div>

