<div class="page-navbar">
      <!--Dropdown-->
        <div class="dropdown show">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag("tmp/Asset-3d.svg")%>
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            
            <%= link_to "Explore", song_texts_path, class:"dropdown-item"  %>
            <%= link_to "Your Lyrics", user_song_texts_path, class:"dropdown-item"  %>
            <a class="dropdown-item" href="#">About Us</a>
          </div>
        </div>
        
  <div class="nav-navbar">
      <ul class="home-nav-list">
        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "signup", new_user_registration_path %></li>
          <li><%= link_to "login", user_session_path %></li>
          <% end %>
      </ul>
  </div>
</div>